@use "../../assets/scss/variables" as *;
@use "../../assets/scss/typography" as *;

.card {
  @include font-defaults;

  background-color: var(--background);
  color: var(--font-color);
  border: 1px solid $manisuec-black;
  border-radius: 8px;
  padding: 16px;
  width: 25rem;

  &__title {
    margin: 0 0 12px;
    font-size: 24px;
    font-weight: bold;
  }

  &__body {
    font-size: 16px;
  }

  &__footer {
    margin-top: 16px;
    padding-top: 12px;
    border-top: 1px solid $manisuec-black;
  }
}
